@{
    ViewBag.title = "Oops!!!";
}
<div class="row g-0">
    <div class="col-12 text-center py-5">
        <div class="container">
            <h1 class="display-4">Whoops! We couldn't find that product.</h1>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1R2bRlxfL9j_DiICSQTykyHrsPcDZ8fQOzQ&usqp=CAU" alt="Lost product box" class="img-fluid mb-4" width="250">
            <a href="/" class="btn btn-lg bg_yellow border-0 text-white">Take me back to the homepage</a>
            <h6 class="mt-3">Or try searching for something else:</h6>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search products..." aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
