@model List<ProductModel>
<!-- ------------------ Collection banner -------------- -->
<div class="row g-0">
    <div class="col-12">
        <a href=""
           class="text-center">
            <img src="~/public/demo/brands/banner_collection.webp"
                 alt=""
                 class="img-fluid"
                 loading="lazy" />
        </a>
    </div>
</div>

<!-- ------------------ Breadcrumb -------------- -->
<div class="row g-0">
    <div class="col-12">
        <div class="container px-3">
            <nav style="--bs-breadcrumb-divider: ">
                <ol class="breadcrumb mb-0 d-block">
                    <li class="breadcrumb-item px-0 d-inline-block">
                        <a href="#">Trang chủ</a>
                        <span class="breadcrumb_divider">
                            &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="10"
                                 height="10"
                                 viewBox="0 0 320 512">
                                <path fill="currentColor"
                                      d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                            </svg>
                            &nbsp;
                        </span>
                    </li>
                    <li class="breadcrumb-item px-0 d-inline-block active">@ViewBag.title</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<!-- ------------------ Product list -------------- -->
<div class="row g-0">
    <div class="col-12">
        <div class="container">
            <div class="d-flex flex-wrap">
                @foreach (ProductModel product in Model){
                    <div class="col-6 col-lg-3 col_xl_custom px-3">
                        <div class="card_product mb-4">
                            @await Html.PartialAsync("_ProductItem", product)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>